* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: #39ff14;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    overflow-x: hidden;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        rgba(255,255,255,0.03),
        rgba(255,255,255,0.03) 2px,
        transparent 2px,
        transparent 4px
    );
    pointer-events:  none;
    z-index: 1;
}

header {
    padding: 3rem 1rem;
    position: relative;
    z-index: 2;
}

.neon-title {
    font-size: 2rem;
    text-shadow:
        0 0 5px #39ff14,
        0 0 10px #39ff14,
        0 0 20px #39ff14;
}

.insert-coin {
    margin-top: 1rem;
    font-size: 0.8rem;
    color: #ff00ff;
    animation: blink 1.5s infinite;
}

@keyframes blink {
    50% { opacity: 0; }
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 2rem;
    max-width: 900px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.game-card {
    text-decoration: none;
    color: #39ff14;
    border: 2px solid #ff00ff;
    padding: 2rem;
    cursor: pointer;
    transition: 0.3s;
    background: rgba(0, 0, 0, 0.8);
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-card:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 10px #ff00ff,
        0 0 20px #ff00ff,
        0 0 40px #ff00ff;
}

footer {
    margin: 3rem 0;
    position: relative;
    z-index: 2;
}

button {
    background: black;
    border: 2px solid #00f7ff;
    color: #00f7ff;
    padding: 1rem 2rem;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: 0.3;
}

button:hover {
    box-shadow:
       0 0 10px #00f7ff,
       0 0 20px #00f7ff;
}

#gameCanvas {
    border: 4px solid white;
}